<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.robby.p2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ClubDetail">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.robby.p2.MainActivity"/>
        </activity>
        <activity android:name=".EventDetail"
                  android:label="@string/title_match_detail">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.robby.p2.MainActivity"/>
        </activity>
    </application>

</manifest>
